
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(27, 35, 55);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: square;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
  border-radius: 10px;
}

.snake {
  background-color: rgb(128, 55, 0);
  z-index: 2;
}

#snake-head {
  background-color: rgb(34, 23, 1);
}

.apple {
  background-color: red;
  z-index: 1;
}
 